/build/
/build-*/
/dist/
/backups/
/.vs/
/Output/
/x64/
/ipch/
**/Debug/
**/Release/
**/ARM64/
*.user
*.suo
*.aps
*.VC.db
*.VC.opendb
*.obj
*.pch
*.pdb
*.ipdb
*.iobj
*.ilk
*.idb
*.exp
*.lib
*.dll
*.8bi
*.exe
# Existing Adobe SDK tool required to build PiPL resources.
!/tools/Cnvtpipl.exe
*.tlog
*.log
*.lastbuildstate
*.tmp
*.zip
Thumbs.db
.DS_Store
